#PostgreSQL
POSTGRES_USER=finsight_user
POSTGRES_PASSWORD=finsight_pass
POSTGRES_DB=finsight_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

#NodeBackend
NODE_ENV=development
JWT_SECRET=change_this_to_a_long_random_string_minimum_32_chars
JWT_EXPRIES_IN=24h
PORT=3000

# Python Services
PYTHON_SERVICE_URL=http://python-service:5000

# Google Service
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:80/api/auth/google/callback

# Gemini AI
GEMINI_API_KEY=your_gemini_api_key_here

# Encryption (for storing Gmail tokens)
ENCRYPTION_KEY=change_this_to_exactly_32_characters_